.about {
    display: flex;
    position: fixed;
    top: 18vh;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-direction: center;
    -webkit-box-pack: center;
    width: 100%;
    z-index: 1;
}

.about .text {
    text-align: center;
}

.about .text img {
    max-height: 275px;
    transition: transform .2s;
}

.about .text img:hover {
    transform: scale(2);
}

.about .text h2 {
    margin-top: 10px;
}

.about .text h3 {
    font-size: 1.4em;
    margin-top: 10px;
}


/* iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 429px) {
    .about {
        left: 0;
        height: 33vh;
    }

    .about .text {
        position: fixed;
        left: 1vw;
        right: 1vw;
        font-size: 0.7em;
        margin-top: 42vh;
    }

    .about .text img {
        max-height: 150px;
        transition: transform .2s;
    }

    .about .text img:hover {
        transform: scale(1.5);
    }

    .about .text h2 {
        font-size: 1rem;
    }

    .about .text h3 {
        font-size: 0.9rem;
    }
}


/* General Phones */
@media only screen and (min-width: 430px) and (max-width: 767px) {
    .about {
        left: 0;
        height: 33vh;
    }

    .about .text {
        position: fixed;
        left: 1vw;
        right: 1vw;
        font-size: 0.7em;
        margin-top: 40vh;
    }

    .about .text img {
        max-height: 200px;
        transition: transform .2s;
    }

    .about .text img:hover {
        transform: scale(1.4);
    }

    .about .text h2 {
        font-size: 1rem;
    }

    .about .text h3 {
        font-size: 0.9rem;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about {
        left: 0;
    }

    .about .text img {
        max-height: 300px;
        transition: transform .2s;
    }

    .about .text img:hover {
        transform: scale(1.4);
    }

    .about .text h2 {
        font-size: 1.5em;
    }

    .about .text h3 {
        font-size: 1.5em;
    }
}


/* Large Tablets */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about {
        left: 0;
    }

    .about .text {
        font-size: 1.2em;
    }

    .about .text img {
        max-height: 400px;
        transition: transform .2s;
    }

    .about .text img:hover {
        transform: scale(1.5);
    }

    .about .text h2 {
        font-size: 1.5em;
    }

    .about .text h3 {
        font-size: 1.5em;
    }
}
